/* NAVBAR */
.nav {
  top: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  background-color: #343a40;
}
.nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 3rem;
}
.nav nav .functions {
  display: flex;
  justify-content: space-between;
}
.nav nav .browse {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav nav .browse h2 {
  margin-left: 2rem;
}
.nav a {
  color: white;
  text-decoration: none;
}
