/* GENERAL STYLING */
body {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}
.spinner img {
  display: 'block';
  width: 200px;
}
h1 {
  font-size: 1.5rem;
}
h3 {
  font-weight: bold;
}
a {
  color: black;
}
